<div class="ftbody">

    <div class="mainw3-agile">
        <h1>Fund Transfer</h1>
        <div class="main-agileinfo">
            <div class="w3pay-left">
                <div class="w3pay-left-text">
                    <img src="images/i1.png" alt="" />
                    <h2>Lorem ipsum</h2>
                    <p>Integer varius est vitae iaculis suscipit nam libero tempore cum soluta nobis.</p>
                    <h3>$ 20</h3>
                </div>
                <h6><a href="http://localhost:4200/BankUser"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Cancel your payment</a></h6>
            </div>
            <div class="w3pay-right wthree-pay-grid">
                <div class="card-bounding agileits">
                    <form action="#" method="post">
                        <div class="card-details">
                            <aside>Name :</aside>
                            <input type="text" name="name" placeholder="Benificiery Name" required="" />
                        </div>
                        <aside>Account Number:</aside>
                        <div class="card-container">
                            <!--- ".card-type" is a sprite used as a background image with associated classes for the major card types, providing x-y coordinates for the sprite --->
                            <div class="card-type"></div>
                            <input type="text" name="card number" placeholder="0000 0000 0000" required="" />
                            <div class="card-valid"><i class="fa fa-check" aria-hidden="true"></i></div>
                        </div>
                        <div class="card-details agileits-w3layouts">
                            <div class="expiration">
                                <aside>Amount</aside>
                                <input type="text" name="date " maxlength="7" placeholder="" required="" />
                            </div>

                            <div class="clear"> </div>
                        </div>
                        <input type="submit" value="Pay Now">
                    </form>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</div>