<div class="card" style="width: 100%;">
    <div class="card-header">
      My Accounts
    </div>
    <div class="card-body">
<table class="table table-hover table-bordered col-sm">
    <thead class="thead-light">
      <tr >
        <th>Account No</th>
        <th>Account Type</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8888888</td>
        <td>Savings</td>
        <td>₹ 200</td>
      </tr>
      <tr>
        <td>9999999</td>
        <td>Current</td>
        <td>₹ 700</td>
      </tr>
    </tbody>
  </table>
</div>
</div>