<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<div class="container">
    <h2> Welcome to Capegemini Bank</h2>

    <br>
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/BankUser/MyAccount" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/BankUser/AddAccount" routerLinkActive="active">Add Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/BankUser/Transfer" routerLinkActive="active">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/BankUser/Requests" routerLinkActive="active">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="/Login">Logout</a>
                </li>
            </ul>
        </div>

    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
    </div>
</div>
    
