<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<div class="topnav">
    <a routerLink="/BankUser">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/MyAccounts">Accounts</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/Transfer">Transfer</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/Requests">Request</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/Login" id="profile">Logout</a> &nbsp;&nbsp;&nbsp;&nbsp;
     
</div> 



<div class="card balance">
    Savings Balance : ₹ {{balance}}
</div>

<div class="card"><i class="icon-credit-card" (click)='deposit()'>Deposit</i></div>
<div class="card"><i class="icon-money" (click)='withdraw()'>Withdraw</i></div>


<router-outlet></router-outlet>
