<div class="card">
    <div class="card-header">Request For ChequeBook</div>
    
    <div class="card-body"><button class="btn btn-danger btn-block">Press To Request</button></div>
</div>
<div class="card">
    <div class="card-header">Change Mobile Number</div>
    <div class="card-body">
        <div class="form-group">
            <input type="text" placeholder="Enter New Mobile Number" class="form-control .form-control-sm">
            <input type="submit" value="Submit" class="btn btn-danger btn-block">
          </div>
    </div>
</div>
<div class="card">
    <div class="card-header">Change Address</div>
    <div class="card-body">
        <div class="form-group">
            <input type="text" placeholder="Enter New Address" class="form-control .form-control-sm">
            <input type="submit" value="Submit" class="btn btn-danger btn-block">
          </div>
    </div>
</div>